<li>
  <% unless default_token.name.nil? %>
    <h4><%= default_token.name %></h4>
  <% end %>

  <% unless default_token.children.nil? %>
    <%=to_html default_token.content %>
    <ul>
      <%= render :partial => 'tokens/default_token', :collection => default_token.children %>
    </ul>  
    
  <% else %>
    
    <% unless default_token.types.nil? %>
      (<span class="types"><%= default_token.types.map {|t| link_to(t) }.join ', ' %></span>)
    <% end %>
    <%=to_html default_token.content %>
  
  <% end %>
</li>  