<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Documentation</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis+Light' rel='stylesheet' type='text/css'>
    <%= style "application" %>
  </head>
  <body>
    <header id="header" class="s">
      <div class="wrapper">
        <nav>
          <h1><%= Configs.options[:appname] %></h1>
          
          <ul id="page-menu">
            <li><%= link_to 'doc:README', 'Documentation' %>
            <li><%= relative_link 'api_index.html', 'Api-Docs' %>
          </ul>
          
          <form>
            <input type="search" id="search" placeholder="search API-docs" autocomplete="off" autofocus/>
          </form>
        </nav>
        
        <section class="browsers col50">          
          <section class="docs">
            <h1>Documents</h1>
            <ul>
             <% Dom.docs.each_child do |doc| %>
               <li><%= link_to doc %></li>
             <% end %>
            </ul>
          </section>        
          <section class="api-browser">
            <h1>API-Browser</h1>
            <%= api_browser(Dom.root) %>
          </section>  
        </section>
        
        <section class="search-results col50">
          <section class="functions">
            <h1 class="icon function">Functions</h1>
          </section>        
          <section class="objects">
            <h1 class="icon object">Objects</h1>
          </section>
        </section> 
        
        <a href="#" class="collapse">Collapse</a>      
        <a href="#" class="expand" style="display: none;">Expand</a>         
      </div>
    </header>
    <div role="main" id="main">
      <%= yield %>
    </div>
    <footer id="footer">
      <div class="wrapper">
        Documentation created automagically with <a href="http://www.github.com/b-studios/doc.js">Doc.js for ruby</a>.
      </div>
    </footer>
    <%= script "jcore" %>    
    <script>
      var J = J || {};
      J.root = "<%= to_relative(Configs.output) + '/' %>";
      window.jQuery || document.write("<script src='"+J.root+"js/jquery.js'>\x3C/script>")
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
    <%= script "jquery.treeview", "jquery.cookie", "jquery.tooltip", "application", "apisearch-data" %>
  <body>
</html>
