<section class="section method" id="method-<%= detail.name %>">
  <h2 class="signature"><%= signature detail %></h2>
  <%= to_html detail.docs %>    
  <%= subsection :params, :title => "Parameters", :collection => detail.params, :partial => 'tokens/typed_name' %>
  <%= subsection :returns, :title => "Returns", :collection => detail.returns, :partial => 'tokens/typed' %>
  <h3>Source</h3>
  <%= code detail.source %>
</section>
