<section id="method-extend">
  <h2 class="signature"><%= signature detail %></h2>
  <%= detail.docs %>    
  <%= subsection :params, :title => "Parameters", :collection => detail.params, :partial => 'tokens/typed_name' %>
  <%= subsection :returns, :title => "Returns", :collection => detail.returns, :partial => 'tokens/typed' %>
  <code><%= detail.source %></code>
</section>
