<article class="function">
  <header>
    <h1><%= @function.qualified_name %></h1>
  </header>
  
  <aside>
    <p><%= @function.filepath %>:<%= @function.line_start %></p>

    <div class="hierarchy">
      <h3>Hierarchy</h3>
      <%= hierarchy @function %>
    </div>
    
    <% unless @prototype.nil? %>
    
    <div>
      <h3>Prototype</h3>
      <%= link_to @prototype %>
    </div>    
    <% end %>
  </aside>
  
  <%= to_html detail.docs %>
  
  <!--span class="flag">constructor</span-->
  
  <h2 class="signature"><%= signature @function %></h2>
  <%= subsection :params, :title => "Parameters", :collection => @function.params, :partial => 'tokens/typed_name' %>
  <%= subsection :returns, :title => "Returns", :collection => @function.returns, :partial => 'tokens/typed' %>
  
  <%= render :partial => 'tokens/example', :collection => @function.tokens[:example] unless @function.tokens[:example].nil? %>
  
  <h3 class="source">Source</h3>
  <%= code @function.source %>
 
</article> 