<section class="section object" id="object-<%= detail.name %>">
  <h2 class="signature"><%= detail.name %></h2>

  <%# we only show a short version, with a link to separate page %>
  <% if detail.has_children? %>
    <%= to_html truncate detail.docs, 250 %>

<%# we show everything %>
  <% else %>
    <%= to_html detail.docs %>
    <%= subsection :props, :title => "Properties", :collection => detail.props, :partial => 'tokens/typed_name' %>
  <% end %>
</section>
