<article>

  <header>
     <nav>
      <p><%= @object.filepath %>:<%= @object.line_start %></p>

      <div class="hierarchy">
        <h3>Hierarchy</h3>
        <%= hierarchy @object %>
      </div>
      
      <% unless @methods.empty? %>
      <div class="method-list">
        <h3>Methods</h3>
        <ul>
          <% @methods.each do |child| %>
          <li><%= link_to child %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      
      <%= render_tokens :of => @object, :in => :sidebar %>
    </nav>
  
    <h1><%= @object.qualified_name %></h1>
    <%= render_tokens :of => @object, :in => :notification %>
  </header> 

  <div class="body">

    <%= to_html @object.docs %>

    <!-- SUMMARY -->
    <% unless @methods.nil? or @methods.size == 0 %>
      <section>
        <h3 class="icon function">Methods</h3>
        <ul class="summary collapsed">
          <% @methods.each do |child| %>
          <li><%= link_to child %></li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <% unless @children.nil? or @children.size == 0 %>
      <section>
       <h3 class="icon object">Children</h3>
        <ul class="summary collapsed">
          <% @children.each do |child| %>
          <li><%= link_to child, ".#{child.name}" %></li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <%= render_tokens :of => @object, :in => :body %>
    
  </div>

</article>