<section class="section method" id="method-<%= detail.name %>">
  <h2 class="signature"><%= signature detail %></h2>
  <%= to_html detail.docs %>
  <%= render_tokens :of => detail, :in => :body %>
    
  <h3 class="source">Source</h3>
  <%= code detail.source %>
</section>
