<article class="function"> 
  
  <header>
    <nav class="sidebar">
      <p><%= @function.filepath %>:<%= @function.line_start %></p>

      <div class="hierarchy">
        <h3>Hierarchy</h3>
        <%= hierarchy @function %>
      </div>
      
      <% unless @prototype.nil? %>
      <div>
        <h3>Prototype</h3>
        <%= link_to @prototype %>
      </div>    
      <% end %>
      
      <% unless @methods.empty? %>
      <div class="method-list">
        <h3>Methods</h3>
        <ul>
          <% @methods.sort{|a,b| a.name <=> b.name }.each do |child| %>
          <li><%= link_to child %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      
      <%= render_tokens :of => @function, :in => :sidebar %>
    </nav>
  
    <h1><%= @function.qualified_name %></h1>
    <section class="notification">
      <%= render_tokens :of => @function, :in => :notification %>
    </section> 
  </header>
    
  <div class="body">
    
    <%= to_html @function.docs %>
    
    <!--span class="flag">constructor</span-->
   
    <%= render_tokens :of => @function, :in => :body %>
    
    <%# if it has overloads, we need another template %>
    <% if @function.tokens[:overload].nil? %>
    
      <h2 class="signature"><%= signature @function %></h2>
      <%= render :partial => 'tokens/default', :locals => { :tokens => @function.params } %>
      <%= render :partial => 'tokens/default', :locals => { :tokens => @function.returns } %>

    <% else %>
  
      <%= render :partial => 'tokens/overload', :collection => @function.tokens[:overload] %>
      
    <% end %>
    
    <h3 class="source">Source</h3>
    <%= code @function.source, :firstline => @function.line_start, :class => "source" %>
  
  </div>
 
</article> 